<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">
     <!-- google fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@100;400;900&family=Nanum+Gothic&family=Oswald&family=Sacramento&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Duplicate Classifier</title>
</head>
<body>
    <section id = 'title'>
        <div class = 'title-heading' style="margin-top: 80px;">
            <h1>
                Duplicate Classifier
            </h1>
        </div>
    </section>

    <section id = 'input'>
        <div class = 'input-cell'>
            <div class="mb-3">
                <label class="form-label">Input Text:</label>
                <input type="text" class="form-control" id="input1" name = "input1" aria-describedby="emailHelp">
               <div id="emailHelp" class="form-text">String</div> 
            </div>

            <button type="submit" class="btn btn-primary btn-submit" id = 'btn'>Sumbit</button>

            <div class = 'mb-3'>
                <output>
                    Output:
                </output>
            </div>

            <div class = 'mb-3'>
                <span id = 'span2'>

                </span>
            </div>

        </div>

    </section>


</body>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript">

$("#btn").click(function(){
    $.ajax({  
        type : "get",  //提交方式  
        url : "http://0.0.0.0:5000/cal?input1=" + $("#input1").val(), 
        success : function(result) {//返回数据根据结果进行相应的处理 
            // var json = JSON.parse(result)
            console.log(result)
            $("#span2").html(result)
        }  
    });
})
</script>

</html>